{
  "extends": "airbnb",
  "rules": {
    "no-debugger": "off",
    "react/no-unescaped-entities": "warn",
    "react/prefer-stateless-function": [
      0,
      {
        "ignorePureComponents": true
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}

